PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=thisone

# First admin account, created by `npm run db:setup` when no admin exists yet.
ADMIN_PHONE=000000
ADMIN_PASSWORD=admin123
